@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .group-date {
    @apply text-2xl dark:text-white text-slate-900 dark:bg-slate-800 bg-white px-3 py-4
        font-bold tracking-widest;
  }
  .timeline {
    @apply border-l-4 dark:border-white border-slate-800 ml-3 mt-3 py-16 space-y-14;
  }
  .timeline-date {
    @apply text-xs font-bold opacity-40 tracking-widest;
  }
  .timeline-job-detail {
    @apply text-xs font-semibold opacity-60 tracking-widest;
  }
  .timeline-title {
    @apply text-3xl text-gray-600 dark:text-gray-300 font-semibold tracking-wide mb-2;
  }
  .dot {
    @apply absolute top-5 -left-3.5 dark:bg-green-tertiary bg-blue-400 h-6 w-6 rounded-full border-2 border-white;
  }
}
